{
    "endOfLine": "lf",
    "semi": true,
    "tabWidth": 4,
    "singleQuote": false,
    "trailingComma": "none",
    "eslintIntegration": false,
    "tslintIntegration": true,
    "printWidth": 120,
    "tslint.packageManager": "npm",
    "npm.packageManager": "npm",
    "prettier.tslintIntegration": true
}