services:
    app:
        image: ghcr.io/mauricerenck/mastodon-to-bluesky:latest
        container_name: mastodon-to-bluesky
        restart: unless-stopped
        env_file: '.env'
        # environment:
        #     MASTODON_INSTANCE: 'https://mastodon.instance'
        #     MASTODON_USER: 'username'
        #     BLUESKY_ENDPOINT: 'https://bsky.social'
        #     BLUESKY_HANDLE: 'USERNAME.bsky.social'
        #     BLUESKY_PASSWORD: 'PASSWORD'
        #     BLUESKY_MAX_POST_LENGTH: 300
        #     INTERVAL_MINUTES: 5
        volumes:
            - mastodon-to-bluesky:/usr/src/app/data
