name: CI
on:
    push:
        branches:
            - main

env:
    REGISTRY: ghcr.io
    IMAGE_NAME: ${{ github.repository }}

jobs:
    build:
        name: Build docker image
        runs-on: ubuntu-latest
        timeout-minutes: 5
        permissions:
            packages: write
            contents: read
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Read .nvmrc
              run: echo "NODE_VERSION=$(awk -F. '{print $1}' .nvmrc)" >> $GITHUB_OUTPUT
              id: nvm

            - name: Login to container registry
              uses: docker/login-action@v3
              with:
                  registry: ${{ env.REGISTRY }}
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Extract Docker image metadata
              id: meta
              uses: docker/metadata-action@v5
              with:
                  images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
                  tags: |
                      type=schedule
                      type=ref,event=pr
                      type=semver,pattern={{version}}
                      type=sha,prefix={{branch}}-,format=short
                      type=sha,prefix=,format=short
                      {{branch}}

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Build Docker image
              uses: docker/build-push-action@v5
              with:
                  context: .
                  push: true
                  labels: ${{ steps.meta.outputs.labels }}
                  tags: ${{ steps.meta.outputs.tags }}
                  platforms: linux/amd64,linux/arm64,linux/arm/v7
                  cache-from: type=gha
                  cache-to: type=gha,mode=max
                  build-args: |
                      NODE_VERSION=${{ steps.nvm.outputs.NODE_VERSION }}

    release:
        name: Release
        needs: build
        if: github.ref == 'refs/heads/main'
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Read .nvmrc
              run: echo "NODE_VERSION=$(cat .nvmrc)" >> $GITHUB_OUTPUT
              id: nvm

            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ steps.nvm.outputs.NODE_VERSION }}

            - name: Install
              run: npm ci --ignore-scripts

            - name: Release
              env:
                  GITHUB_TOKEN: ${{ secrets.PAT_SEMANTIC_RELEASE }}
              run: npx semantic-release
